@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Ruslan+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');
html{
    margin: 0;
    height: auto;
    min-height: 100%;
}
body{
    margin: 0;
    background: linear-gradient(rgb(0, 1, 2), #3a6679);
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}
.agora{
    margin: 0;
    color: rgba(255, 255, 255, 0.966);
    text-align: center;
    padding: 35px;
    padding-left: 15px;
    font-family: 'Audiowide';
    font-size: 35px;
}
#logo-agora{
    height: 30px;
    width:30px;
    padding-left: 30px;
}
#continue-with{
    text-align: center;
    font-size: 20px;
    font-family: 'Baloo Bhaijaan 2';
    color: rgba(255, 255, 255, 0.966);
}
.alt_login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 10px;
    width: 10%;
}
.alt_login button{
    font-family: 'Audiowide';
    font-size: 13px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 10px;
    border: 1px transparent;
    transition: .2s ease-in;
}
#logo-fb{
    height: 30px;
    width:30px;
    padding: 2px;
    padding-right: 5px;
}
#logo-google{
    height: 25px;
    width:25px;
    padding: 5px;
    padding-right: 5px;
}
#logo-apple{
    height: 27px;
    width:27px;
    padding: 4px;
    padding-right: 5px;
}
h2 {
  text-align: center;
  width: 31%;
  font-size: 15px;
  font-family: 'Baloo Bhaijaan 2';
  color: rgba(255, 255, 255, 0.966);
  font-weight: normal;      
}
h2:before, h2:after {
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  background: rgba(255, 255, 255, 0.13);
}
h2:before {
  right: 0.5em;
  margin-left: -50%;
}
h2:after {
  left: 0.5em;
  margin-right: -50%;
}
.cont_input{
    /* background-color: blueviolet; */
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 20px 50px #000;
    border-radius: 10px;
    width: 35%;
}
#loginform{
    padding: 30px;
    width: 100%;
}
label{
    font-size: 20px;
    font-family: 'Baloo Bhaijaan 2';
    color: rgba(255, 255, 255, 0.966);
}
input[type="text"], input[type="password"], input[type="email"]{
    font-size: 20px;
    font-family: 'Baloo Bhaijaan 2';
    width: 100%;
    background-color: black;
    color: rgba(255, 255, 255, 0.966);
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
}
.cont_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: auto;
    width: 100%;
}
#login_button{
    font-size: 15px;
    font-family: 'Audiowide';
    background-color: black;
    color: rgba(255, 255, 255, 0.966);
    border: 1px transparent;
    border-radius: 35px;
    padding: 18px 70px;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
    display: block;
    transition: .2s ease-in;
}
.forg_pass{
    margin: auto;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.472);
    margin: auto;
}
.forg_pass:hover{
    color: rgba(255, 255, 255, 0.966);
    cursor: pointer;
}
hr{
    width: 35%;
    border:0;
    margin:10px 0;
    align-self: center;
    height:2px;
    background: rgba(255, 255, 255, 0.13);
}
#signup_button{
    font-size: 15px;
    font-family: 'Audiowide';
    background-color: rgba(255, 255, 255, 0.966);
    color: black;
    border: 1px transparent;
    border-radius: 35px;
    padding: 18px 70px;
    margin: auto;
    margin-bottom: 20px;
    transition: .2s ease-in;
    margin-top: 10px;
}

button:hover, #signup_button:hover{
    background-color: #959595;
    cursor: pointer;
}
#login_button:hover{
    background-color: #959595;
    color: black;
    cursor: pointer;
}
a{
    margin: auto;
    padding: 0;
}
#title{
    font-size: 1.2vw;
    font-family: 'Audiowide';
    color: rgba(255, 255, 255, 0.966);
}
